*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open Sans;
}
body{
    
}
.wrapper{
    background:gainsboro;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 15px 0;
    transition: all 0.5s ease;
}
.sidebar{
    text-align: left;
    padding-left: 20px;
}
.cprofile {
margin-bottom: 30px;
text-align: center;

}
 .cprofile img{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50pX;
}
.icon{
display: inline-block;
color: white;
width: 15px;}

h4{
    margin-bottom: 20px;
    margin-top: 20px;
    color: grey;
    font-weight: lighter;
}

    .item{
color: black;
    }
    li{
        margin-bottom: 15px;
        color:black;
    }
    p{
padding: 20px, 20px 20px 20px;
    }

li > a{
    text-decoration: none;
    color: inherit;
  
    padding: 10px 10px;

    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;

}
li a:hover, li a.active{
    color: #0c7db1;
    background: white;
    border: 2px solid rgb(5, 68, 104);
}
.Section{
     margin-left: 200px;
    width: calc(100% - 200px);
    transition: all 0.5s ease;
  
}

.top_navbar{
    background-color:mintcream;
    height: 50px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
    }
    .cus{
        display: flex;
    }
    .nav{
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
    }
    .layer1{
        width: calc(100% - 250px);
        transition: all 0.5s ease;
        margin-left: 240px;
        margin-top: 40px;
        padding-right: 40px;
    }
    .wrap{
        border: 1px solid gray;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px; 
        background-color: mintcream;
        display: flex;
        justify-content: space-between;
        
      
    }
    .est{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 10px;
    
    }
    .est1{
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        gap: 20px;
        padding-right: 20px;
        padding-left: 10px;
    }
    .item1{
        padding-left: 10px;

    }
    .divider {
        border-bottom: 1px solid #888989;
        margin: 2px 0;
        padding-top: 10px;
        margin-bottom: 18px;
        width: 70%;
    
    }

        .layer3{
            width: calc(100% - 250px);
            transition: all 0.5s ease; 
            margin-left: 240px;
        }
      .doc{
        display: flex;
        gap: 40px;
        width: 70%;
        margin-top: 30px;
    
      }
      .layer4{
        display: flex;
        gap: 60px;
        width: 70%;
      }
      .create{
        color: aqua;
        border-color: rgb(45, 235, 235);
      
      }
      .wrap2{
        background:white;
       height: 100%;
        width: 18%;
        right: 0;
        position: fixed;
        margin-left: 40px;
        border: 2px solid gainsboro;
       
        margin-right: 40px;
        padding-left: 10px;
        padding-top: 10px;
      }
      .cprofile2{
        text-align: left;
        display: inline-flex;
        gap: 15px;
        position: fixed;
      }
      .cprofile2 img{
        width: 30px;
         height: 30px;
        border-radius: 50pX;
    
  
      }
      .cpro{
    margin-top: 31px;
    margin-right: 40px;
      }
      .tabs{
        border: 2px solid #0c7db1;
        width: 20%;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-right: 20px;
   
      }
      .tab_wrap{
        display: flex;
        gap: 40px;
      }
      th, td{
    padding: 6px;
      }
      .pel{
        padding-left: 6px;
        padding-top: 7px;
      }
      .acc{
        color: green;
        border: 1px solid green;
        background-color: #eaf1f1;
        width: 90px;
        padding-left: 6px;
        padding-right: 8px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 6px;
      }
      .tab_wrap2{
        display: flex;
        gap: 40px;
      
      }
